<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google Fonts -->
    <!-- Swap out "Roboto" for the font(s) you want to use -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css" crossorigin="anonymous">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Your own CSS -->
    <link rel="stylesheet" href="/styles.css">

    <title>News</title>
  </head>
  <body>

    <div class="container mt-5">
      <h1>News</h1>
      <% @lat_lng = [] %>
      <% results = Geocoder.search(params["location"]) %>
      <% @lat_lng = results.first.coordinates %>
      <% @lat = @lat_lng[0] %>
      <% @lng = @lat_lng[1] %>
    </div>

    <div class="container mt-5">    
        <% @forecast = ForecastIO.forecast(@lat,@lng).to_hash %>
        <% @current_temp = @forecast["currently"]["temperature"] %>
        <% @current_summary = @forecast["currently"]["summary"] %>
        <% daily_data = @forecast["daily"]["data"] %>
        <div>
            In <%= params["location"] %>, it is currently <%= @current_temp %> with <%= @current_summary.downcase %>
        </div>
        <div>
            -------------------
        </div>
        <div>
            Extended forecast:
        </div>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Date</th>
                        <th scope="col">High Temp</th>
                        <th scope="col">Low Temp</th>
                        <th scope="col">Conditions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for day in daily_data %>
                        <tr>
                            <th scope="row">
                                <% date = day["time"] %>
                                <% t = Time.at(date) %>
                                <%= t.month %>/<%= t.day %>/<%= t.year %>
                            </th>
                            <td>
                                <% daily_hightemp = day["temperatureHigh"] %>
                                <%= daily_hightemp %>
                            </td>
                            <td>
                                <% daily_lowtemp = day["temperatureLow"] %>
                                <%= daily_lowtemp %>
                            </td>
                            <td>
                                <% daily_summary = day["summary"] %>
                                <%= daily_summary %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mt-5">    
        <% url = "https://newsapi.org/v2/top-headlines?country=us&apiKey=bf5ac5ecf7b844b2af538df0fa34201b" %>
        <% news = HTTParty.get(url).parsed_response.to_hash %>
        <table>    
            <tr>
                <td>
                    Headline
                </td>
                <td>
                    Link
                </td>
                <% for article in news["articles"] %>
                    <tr>
                        <% source = article["source"]["name"] %>
                        <% title = article["title"] %>
                        <% link = article["url"] %>
                        <td>
                            <%= title %>
                        </td>
                        <td>
                            <a href="<%= link %>" target="_blank"><%= source %></a>
                        </td>
                    </tr>
                <% end %>
        </table>
    </div> 

    <div class="container mt-5">    
        <a href="/" class="btn btn-dark">Go Back</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>